:root {
  /** Purple **/
  --purple-1: #ad79fa;
  /** Black **/
  --black-1: #120f09;
  /** Yellow **/
  --yellow-1: #fef9ef;
  --yellow-2: #ffee93;
  /** Orange **/
  --orange-1: #f9bd6a;
  /** Green **/
  --green-1: #81f5c6;
}
